body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 1; outline: none;
	font-family: sans-serif, "Myriad Pro", Arial;
  
}
a, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}

p {
  color: #AAAAAA;
}

html {
	height: 100%;
}



#page-container {
	width: 760px;
	margin: 0 auto 40px;
  background: white;
  padding: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

h3#small-header {
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

h2#header {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  padding: 0px 0px 6px 0px;  
}

.buyer-details {
  float:left;
}
.seller-details {
  float:right;
}

#app-container {
  padding: 20px;
}

table {
  font-size: 15px;
  width: 100%;
  border:0;
  border-collapse: collapse;
}
table th {
  background: #5E768D;
  padding: 7px;
  border:0;
  color:#FFFFFF;
  
  font-size: 17px;
  font-family: "MetaBold Roman", "Myriad Pro", Arial;
}
table td {
  padding: 9px;
  line-height: 17px;
  font-size: 15px;
  color:#333333;
}


.items { border-collapse:collapse; width:100%;clear:both;margin:1cm 0 0.4cm 0; }
.items th {text-align: left;white-space: nowrap;padding: 3px 5px 3px 5px; font-weight: normal;background: #F2F2F2; }
.items td {margin: 0;padding: 4px 5px 4px 5px; vertical-align: top;}
.items td.item_r{text-align: right;}
.items td.item_l{text-align: left;white-space: normal;}
.items td.total{text-align: right;font-weight: bold; /*color: #a10000;*/}
.items td.action{background: #FFF; width:7%;padding-right:0; white-space:nowrap;text-align:center}
.items tr#total_tr {background: #F2F2F2;}
.items td {border-top: 1px solid #F2F2F2;}
.items tr#discount_tr, #items tr#net_total_tr, #items tr#vat_tr {color: #777;}

.items .details_th{width:46%}
.items .details_notax_th{width:54%}
.items .quantity_th{width:13%}
.items .subtotal_th{width:18%; text-align:right}
.items .unitprice_th{width:15%; text-align:right}
.items .salestax_th{width:8%; text-align:center}