  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Backbone invoices - by Michał Dąbrowski (dabrowski@brillante.pl)</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">

    <!-- include source files here... -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.date_format.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.localstorage.js"></script>
    
    <script type="text/javascript" src="js/invoice.js"></script>


  </head>
  <body>
    
    <div id="page-container">
      <h3 id="small-header">by Michał Dąbrowski</h3>
      <h2 id="header">Backbone invoices</h2>
      <p>
        A simple application demonstrating power of Backbone.js library. Its written in coffee-script and its using localStorage.
        Project is Open Source, feel free to do whatever you want with it :) <br/>
        On GitHub: <a href="https://github.com/defrag/Backbone-Invoices/">https://github.com/defrag/Backbone-Invoices/</a>
      </p>
      
      <div id="navigation">
        <ul class="pills">
          <li id="list-invoices-menu-item" ><a href="#" title="List invoices">List invoices</a></li>
          <li id="new-invoice-menu-item"><a href="#new"  title="New Invoice">New Invoice</a></li>
        </ul>
      </div>
      
      <div id="app-container">

      </div>
      
    </div>
    
    
    <script type="text/template" id='invoice-list-template'>
      <% if(collection.models.length > 0) { %>
          <table>
          <thead>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Total Price</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>  
          <% collection.each(function(item) { %>
            <tr>
              <td><%= item.get('number') %></td>
              <td><%= item.formattedDate() %></td>      
              <td><%= item.getTotalPrice() %></td>                    
              <td><a class="edit" href="#invoices/<%= item.cid %>">Edit</a></td>      
              <td><a class="delete" href="#delete">Delete</a></td>              
            </tr>  
          <% }); %>
          </table>
      <% } else { %>
          <h4>No invoices! <a href='#new'>Create one</a></h4>
      <% } %>
      
    </script>
    
    <script type="text/template" id='invoice-form-template'>
      <form action="#">
       <div class="clearfix">
         <label>Date</label>
         <div class="input"><input type="text" value="<%= model.formattedDate() %>" name="date" /></div>
       </div>
       
       <div class="clearfix">
          <label>Number</label>
          <div class="input"><input type="text" value="<%= model.get('number') %>" name="number" /></div>
       </div>
       
       
      
       <div>
          <label>Buyer details</label>
          <div class="input">
            <textarea name="buyer_info" rows="8" cols="40"><%= model.get('buyer_info') %></textarea>
            <span class="help-block"> Customer details go here. </span>
          </div>
       </div>
       
       <div>
          <label>Seller details</label>
          <div class="input">
            <textarea name="seller_info" rows="8" cols="40"><%= model.get('seller_info') %></textarea>
            <span class="help-block"> Your company info. </span>
          </div>
       </div>
       
       <table class="items">
       <thead>
        <tr>
          <th>Quantity</th>
          <th>Price</th>   
          <th>Tax</th>     
          <th>Price</th>
          <th>Total</th>
          <td>#</td>        
        </tr>
       </thead>  
       <tbody class="line-items"></tbody>
       </table>
       <div class="well">
         <button class="btn new-line-item">New row</button>
       
         <button class="btn primary save-invoice">Save</button>
        </div> 
      </form>
    </script>
    
    
    <script type="text/template" id='line-item-template'>

      <td class="quantity">         
        <input type="text" value="<%= model.get('quantity') %>" name="quantity" />
      </td>
       
      <td class="price">
        <input type="text" value="<%= model.get('price') %>" name="price" />
      </td>
       
      <td class="tax-rate">
        <select name="tax_rate">
          <%= model.getTaxRatesOptionTag() %>                    
        </select>
      </td>
       
      <td>
        <textarea name="descripion" rows="2" cols="30"><%= model.get('description') %></textarea>               
      </td>
      <td>
        <%= model.getTotalPrice() %>
      </td>
      <td>
        <button class="btn danger remove-line-item">(X)</button>      
      </td>
        
        
        
    </script>
    
    
  </body>
  </html>
  