  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Backbone invoices - by Michał Dąbrowski (dabrowski@brillante.pl)</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  

    <!-- include source files here... -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.date_format.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>
    
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.localstorage.js"></script>
    
    <script type="text/javascript" src="js/invoice.js"></script>


  </head>
  <body>
    
    <div id="page-container">
      <h3 id="small-header">by Michał Dąbrowski</h3>
      <h2 id="header">Backbone invoices</h2>
      <p>
        A simple application demonstrating power of Backbone.js library. Its written in coffee-script and its using localStorage.
        Project is Open Source, feel free to do whatever you want with it :) <br/>
        On GitHub: <a href="https://github.com/defrag/Backbone-Invoices/">https://github.com/defrag/Backbone-Invoices/</a>
      </p>
      
      <div id="navigation">
        <a href="#" title="List invoices">List invoices</a>
        <a href="#new" title="New Invoice">New Invoice</a>
      </div>
      
      <div id="app-container">

      </div>
      
    </div>
    
    
    <script type="text/template" id='invoice-list-template'>
      <% if(collection.models.length > 0) { %>
          <table>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Total Price</th>
              <th colspan="2">Actions</th>
            </tr>
          <% collection.each(function(item) { %>
            <tr>
              <td><%= item.get('number') %></td>
              <td><%= item.formattedDate() %></td>      
              <td><%= item.getTotalPrice() %></td>                    
              <td><a class="edit" href="#invoices/<%= item.cid %>">Edit</a></td>      
              <td><a class="delete" href="#delete">Delete</a></td>              
            </tr>  
          <% }); %>
          </table>
      <% } else { %>
          <h4>No invoices! <a href='#new'>Create one</a></h4>
      <% } %>
      
    </script>
    
    <script type="text/template" id='invoice-form-template'>

       <div>
         <label>Date</label>
         <input type="text" value="<%= model.formattedDate() %>" name="date" />
       </div>
       
       <div>
          <label>Number</label>
          <input type="text" value="<%= model.get('number') %>" name="number" />
       </div>
      
       <div>
          <label>Buyer details</label>
          <textarea name="buyer_info" rows="8" cols="40"><%= model.get('buyer_info') %></textarea>
       </div>
       
       <div>
          <label>Seller details</label>
          <textarea name="seller_info" rows="8" cols="40"><%= model.get('seller_info') %></textarea>
       </div>
       
       <table class="items">
       <thead>
        <tr>
          <th class="quantity_th">Quantity</th>
          <th class="price_th">Price</th>   
          <th class="tax_th">Tax</th>     
          <th class="description_th">Price</th>        
        </tr>
       </thead>  
       <tbody class="line-items"></tbody>
       </table>
       <button class="new-line-item">New row</button>
       
       <button class="save-invoice">Save</button>
    </script>
    
    
    <script type="text/template" id='line-item-template'>

      <td>         
        <input type="text" value="<%= model.get('quantity') %>" name="quantity" />
      </td>
       
      <td>
        <input type="text" value="<%= model.get('price') %>" name="price" />
      </td>
       
      <td>
        <select name="tax_rate">
          <%= model.getTaxRatesOptionTag() %>                    
        </select>
      </td>
       
      <td>
        <textarea name="descripion" rows="2" cols="30"><%= model.get('description') %></textarea>               
      </td>
      <td>
        <%= model.getTotalPrice() %>
      </td>
      <td>
        <button class="remove-line-item">(X)</button>      
      </td>
        
        
        
    </script>
    
    
  </body>
  </html>
  